admission-test-ws-stubs/admission-test-wsservers/admission-test-login-wsserver/src/main/wsdl/LoginService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoginServiceService" targetNamespace="http://login.ws.admission.experti.cl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://login.ws.admission.experti.cl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:ns1="http://dto.login.ws.admission.experti.cl" xmlns:tns="http://login.ws.admission.experti.cl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://login.ws.admission.experti.cl" version="1.0">

  <xs:import namespace="http://dto.login.ws.admission.experti.cl"/>

  <xs:element name="userLogin" type="tns:userLogin"/>

  <xs:element name="userLoginResponse" type="tns:userLoginResponse"/>

  <xs:complexType name="userLogin">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:loginRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginRequest">
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:loginResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="responseCode" type="xs:decimal"/>
      <xs:element minOccurs="0" name="responseMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="http://login.ws.admission.experti.cl" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.login.ws.admission.experti.cl" version="1.0">

  <xs:import namespace="http://login.ws.admission.experti.cl"/>

  <xs:element name="loginRequest" type="ns1:loginRequest"/>

  <xs:element name="loginResponse" type="ns1:loginResponse"/>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="userLoginResponse">
    <wsdl:part name="parameters" element="tns:userLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="userLogin">
    <wsdl:part name="parameters" element="tns:userLogin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoginService">
    <wsdl:operation name="userLogin">
      <wsdl:input name="userLogin" message="tns:userLogin">
    </wsdl:input>
      <wsdl:output name="userLoginResponse" message="tns:userLoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceServiceSoapBinding" type="tns:LoginService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="userLogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="userLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="userLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginServiceService">
    <wsdl:port name="LoginServicePort" binding="tns:LoginServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/LoginServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
